<div class="container bg-light shadow pb-4" *ngIf="displayCompany">
	<div>
		<a href="{{displayCompany.link}}" target="_blank" class="text-primary text-decoration-none text-capitalize font-weight-bold"
		 style="font-size: 38px">{{displayCompany.name}}</a>
		<button type="button" class="btn btn-primary btn-sm float-md-right my-3"><i class="fa fa-pencil fa-fw"></i> Write</button>
  </div>
	<p style="font-size: 14px">{{displayCompany.address}}</p><hr>
	<p class="py-0">{{displayCompany.description}}</p><hr>
  <app-post [company]="displayCompany" (post)="displayPost($event)"></app-post>
</div>