<div class="container shadow">
  <div class="border border-primary"><i class="fa fa-apple fa-5x"></i></div>
  <div class="bg-primary text-light p-2">Company</div>
  <div class="font-italic my-2" style="font-size: 12px;">19/6, Mathura Rd, Indra Nagar, Sector 6, Faridabad, Haryana 121006</div>
  <div class="border border-primary border-right-0 border-left-0 my-2">Yamaha Motor Solutions India Pvt. Ltd. (YMSLI) is a subsidiary of Yamaha Motor Solutions Group, Japan. We specialize in providing a wide gamut of IT services to our clients worldwide with utmost quality, lower costs and timely delivery. Our constant endeavor is to help our clients to reduce the total cost of IT operations significantly while utilizing the vast skilled IT resources available in India with an onsite / off-shore delivery model.</div>
  <div class="bg-primary text-light p-2">student placed: 20</div>
</div>