<div class="container bg-light shadow pb-4" *ngIf="showPost == true; then postTemplate else companyData"></div>

<ng-template #companyData>
	<div *ngIf="displayCompany; else welcomePage" class="container">
    <div class="container bg-primary text-light shadow font-weight-bold py-2" style="font-size: 20px;">Blog</div>
    <app-post [company]="displayCompany" (post)="displayPost($event)"></app-post>
  </div>
</ng-template>

<ng-template #welcomePage >
  <h3 class="container shadow bg-primary text-light p-2 font-weight-bold text-center">
    Welcome to training &amp; placement cell
  </h3>
</ng-template>

<ng-template #postTemplate>
  <div class="container">
    <button class="btn btn-primary" (click)="backToCompany()"><i class="fa fa-chevron-left fa-fw"></i>Back</button><hr>
    <h4 class="text-capitalize font-weight-bold text-primary">Title</h4>
    <p>description</p>
  </div>
</ng-template>